<div class="modal fade" id="modalDepartmentCreate" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-warning text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Department</h5>
        <button type="button" id="modalDepartmentCreateClose" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body departmentCreate d-flex justify-content-center">
       <div>
            <div class="cardInfo" style="width: 18rem;">
            <h4><div class="info-title" id="info-title">
            </div></h4>
            <strong><div class="info-Stocks"></div></strong>
            <hr/>
            <form id="createDepartmentForm">
            <div class="form-group">
                <label name="" class="control-label">Department Name</label>
                <input type="text" name="DepartmentName" id="inputDepartmentName" placeholder="Enter department name" class="form-control" required/>
            </div>
            </form>
            <hr/>
      </div>
       </div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>!-->
        <button type="button" class="btn btn-primary" id="createDepartment">Confirm</button>
      </div>
    </div>
  </div>
</div>