<h1>Department Index</h1>

<button type="button" title="Create Department" class="btn btn-success" style="color: #ffffff;" data-bs-toggle="modal" data-bs-target="#modalDepartmentCreate">
  <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
</button>

@Html.Partial("PartialDepartment/DepartmentCreate")
@Html.Partial("PartialDepartment/DepartmentTable")
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
    var inputtedDepName;

    $(document).ready(function(){
      displayDepartmentData();
        $("#createDepartment").click((e) => {
        
        const inputtedDepName = $("#inputDepartmentName").val();

        console.log(inputtedDepName);
        if(inputtedDepName.length !== 0)
        {
          //AJAX ADD DEPARTMENT
          $.ajax
          ({
            url: "../api/adminapi/createDepartment",
            type: "POST",
            data:
            {
                dep : inputtedDepName,
            },
            })
            .done(function()
            {
              //document.querySelector(".parent").innerHTML = "";
              $("#createDepartmentForm")[0].reset();
              $("#modalDepartmentCreate").modal("toggle");
              displayDepartmentData();
          });
        }
        else
        {
          alert("Input the name first.");
        }
        });
        
  function displayDepartmentData()
  {
    $('#departmentData').DataTable().destroy();
    if (!$.fn.DataTable.isDataTable('#departmentData')) {
      $('#departmentData').DataTable({
        ajax: {
          url: '../api/adminapi/getDepartment', // API endpoint to retrieve department
          dataSrc: ''
        },
        columns:
        [
          { data: 'departmentId'},
          { data: 'departmentName'},
        ]
    });
    }
  }


      //Don't touch
    });
</script>