<h1>Department Index</h1>

<button type="button" title="Create Department" class="btn btn-success" style="color: #ffffff;" data-bs-toggle="modal" data-bs-target="#modalDepartmentCreate">
  <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
</button>

@Html.Partial("PartialDepartment/DepartmentCreate")
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    var inputtedDepName;

    $(document).ready(function(){
        $("#createDepartment").click((e) => {
        
        const inputtedDepName = $("#inputDepartmentName").val();

        console.log(inputtedDepName);
        if(inputtedDepName.length !== 0)
        {
          //AJAX ADD DEPARTMENT
          $.ajax
          ({
            url: "../api/adminapi/createDepartment",
            type: "POST",
            data:
            {
                dep : inputtedDepName,
            },
            })
            .done(function()
            {
              //document.querySelector(".parent").innerHTML = "";
              $("#createDepartmentForm")[0].reset();
              $("#modalDepartmentCreate").modal("toggle");
          });
        }
        else
        {
          alert("Input the name first.");
        }
        });
    });
</script>