<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - matikApp</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/formsStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/matikApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">-->
    @* <link rel="stylesheet" href="~/lib/bootstrapdatepicker/css/bootstrap-datepicker.min.css" /> *@
</head>
<body class="bods bg-light text-dark">
    <header>
        <nav class="navbar shared navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid shared" style="background-color: maroon;">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">M A T I K</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li> *@
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@

                        <div class="btn-group">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                Department
                            </button>
                            <div class="position-relative">
                            </div>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="DepartmentIndex">Department</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="CourseIndex">Course</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="DeanIndex">Dean</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="InstructorIndex">Instructor</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SectionIndex">Section</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="StudentIndex">Student Profile</a>
                                </li>
                            </ul>
                        </div>
                        <div class="builds btn-group col-md-1">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                Building
                            </button>
                            <div class="position-relative">
                            </div>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="BuildingIndex">Building</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="RoomIndex">Room</a>
                                </li>
                            </ul>
                        </div>
                        <div class="subs btn-group col-md-1 offset-md-1">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                Subject
                            </button>
                            <div class="position-relative">
                            </div>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SubjectIndex">Subject</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AssignInstructorIndex">Assign Subject</a>
                                </li>
                            </ul>
                        </div>
                        <div class="misc btn-group col-md-1 offset-md-1">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                Miscellaneous
                            </button>
                            <div class="position-relative">
                            </div>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="TimeIndex">Time</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AcademicYearIndex">Academic Year</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GenerateScheduleIndex">Generate Schedule</a>
                                </li>
                            </ul>
                        </div>
                    </ul>
                    <div class="col-md-8 offset-md-8">
                        <span class="text-light" id="span"></span>
                        <br>
                        <br>
                        <span class="text-light" id="spanDate"></span>
                        <script>
                            var span = document.getElementById('span');
                            var spanDate = document.getElementById('spanDate');
                            window.onload = displayClock();
                            function displayClock(){
                                var display = new Date().toLocaleTimeString();
                                var displayDate = new Date().toLocaleDateString();
                                span.textContent = display;
                                spanDate.textContent = displayDate;
                                setTimeout(displayClock, 1000); 
                            }
                        </script>
                        <a class='btn btn-danger logoutBtn' id="logoutBtn"><i class="fa-solid fa-power-off"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @* <nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">M A T I K</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        @* <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form> 
      </div>
    </div>
  </div>
</nav>

    @* <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        M A T I K
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper --> *@

    </div>
    <!-- /#wrapper -->

    <div class="container">
        <main role="main" class="pb-3">
             @RenderBody() 
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - matikApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome/all.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.print/1.6.0/jQuery.print.js"></script>
    <script src="~lib/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>-->
    @* <script src="~/lib/bootstrapdatepicker/js/bootstrap-datepicker.min.js"></script> *@

    @* <script>
        $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    });

    </script> *@

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

<style>
    .modal{
        background-color: transparent;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(15px);

    }

    @* .btn a:hover
    {
        color : yellow;
    } *@

    .logoutBtn
    {
        position: absolute;
        left: 180px;
        bottom: 20px;
        border-radius: 100%;
    }

    .builds
    {
        position: absolute;
        left: 250px;
        bottom: 25px;
    }

    .subs
    {
        position: absolute;
        left: 250px;
        bottom: 25px;
    }

    .misc
    {
        position: absolute;
        left: 360px;
        bottom: 25px;
    }
</style>

<script>
    $(() => {

        $("#logoutBtn").click((e) =>{
            confirmLogout();
        });

        function proceedLogout()
        {
            sessionStorage.clear();
            window.location.href = "/Authorization/Signin";
        }
  

        //display update confirmation
        function confirmLogout()
        {
            Swal.fire({
                title: 'Are you sure you want to logout?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                confirmButtonColor: '#3085d6'
            }).then((result) => {
                if(result.isConfirmed){
                    proceedLogout();
                }
            })
        }
        //End of document
    });
</script>