<div class="modal fade" id="modalBacklogs" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-warning text-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Backlogs Modal</h5>
                <button type="button" id="modalBacklogsClose" class="btn-close btn-light" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body backlogs d-flex justify-content-center">
                <div>
                    <center><h4>Backlogs</h4></center>
                    <button type="button" class="btn btn-primary" id="instructorBacklogsBtn">Instructor Backlogs ( <span id="instructorBacklogVal">0</span> )</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function (){
        
    });
</script>