<template id="departmentOptionTemplate">
  <option value=""></option>
</template>

<template id="departmentInstructorOptionTemplate">
  <option value=""></option>
</template>

<template id="courseOptionTemplate">
  <option value=""></option>
</template>

<template id="sectionOptionTemplate">
  <option value=""></option>
</template>

<template id="subjectOptionTemplate">
  <option value=""></option>
</template>

<template id="instructorOptionTemplate">
  <option value=""></option>
</template>

<div class="modal fade" id="modalAssignInstructorUpdate" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-warning text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Assign an instructor</h5>
        <button type="button" id="modalAssignInstructorUpdateClose" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body assignInstructorUpdate d-flex justify-content-center">
       <div>
            <div class="cardInfo" style="width: 25rem;">
            <h4><div class="info-title" id="info-title">
            </div></h4>
            <strong><div class="info-Stocks"></div></strong>
            <hr/>
            <form id="updateAssignInstructorForm">
            <div class="form-group">
                <label name="" class="control-label">Department</label>
                <select id="departmentSelectUpdate" name="DepartmentId" class="form-select"></select>
            </div>
            <div class="form-group">
                <label name="" class="control-label">Course</label>
                <select id="courseSelectUpdate" name="CourseId" class="form-select courseSelectUpdate"></select>
            </div>
            <div class="form-group">
              <label name="" class="control-label">Year Level</label>
              <select id="yearLevelPickerUpdate" name="YearLevel" class="form-select">
              <option value="1st Year">1st Year</option>
              <option value="2nd Year">2nd Year</option>
              <option value="3rd Year">3rd Year</option>
              <option value="4th Year">4th Year</option>
              </select>
            </div>
            <div class="form-group">
                <label name="" class="control-label">Section</label>
                <select id="sectionSelectUpdate" name="SectionId" class="form-select"></select>
            </div>
            <div class="form-group">
              <label name="" class="control-label">Subject</label>
              <input type="text" name="filterSubject" id="filterSubUpdate" class="form-control" placeholder="Filter : Input course / subject name"/>
            </div>
            <div class="form-group">
                <select id="subjectSelectUpdate" name="SubjectId" class="form-select"></select>
            </div>
            <div class="form-group">
                <label name="" class="control-label">Semester</label>
                <select id="semesterSelectUpdate" name="Semester" class="form-select">
                <option value="1st Semester">1st Semester</option>
                <option value="2nd Semester">2nd Semester</option>
                <option value="Summer">Summer</option>
                </select>
            </div>
            <div class="form-group">
                <label name="" class="control-label">Number of students</label>
                <input type="number" name="StudentCount" id="studCountUpdate" class="form-control" placeholder="Enter number of students" required/>
            </div>
            </form>
            <hr/>
      </div>
       </div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>!-->
        <button type="button" class="btn btn-primary" id="updateAssignInstructor">Confirm</button>
      </div>
    </div>
  </div>
</div>