<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.sheetjs.com/xlsx-0.20.0/package/dist/xlsx.full.min.js"></script>
</head>
<body>
    <nav class="navbar bg-body-tertiary fixed-top" id="navSkirt">
    <div class="container-fluid">
        @* <a class="navbar-brand text-warning" href="#">M A T I K</a> *@
        <button class="navbar-toggler me-auto btn-black" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class=""><i class="fa-solid fa-bars text-warning"></i></span>
            
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <br>
            <center><h5 class="offcanvas-title instructorName" id="offcanvasNavbarLabel">Instructor X</h5></center>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
                <a class="btn btn-light nav-link dropdown-toggle text-dark bg-gray" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                User Settings
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li class="dropdown-item"><a class="nav-link btnUpdate">Change detail</a></li>
                <li class="dropdown-item"><a class="nav-link btnChangePass">Change password</a></li>
                @* <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> *@
                </ul>
            </li>
            </ul>
            @* <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form> *@
        </div>
        <hr>
        <div class="offcanvas-footer">
                <center>
                <a class="btn btn-danger text-light" id="btnSignout" role="button">Signout</a>
                </center>
        </div>
        </div>
    </div>
    </nav>

    <br><br>
    <div><h4>Welcome, <span class="instructorName"></span></h4></div>
    <hr>

    <!-- THIS IS FOR THE CONTENT OF THE PAGE-->
    <center><h1></h1></center>

    @Html.Partial("PageInstructorUpdate")
    @Html.Partial("InstructorChangePass")
    @Html.Partial("PageInstructorTable")
    @* @Html.Partial("SwapModal") *@
    <div id="contentContainer">
        <!-- Existing content or future dynamic content goes here -->
    </div>
</body>
</html>

<script>
    $(document).ready(function(){
        margin();

        function margin(){
            $(".page-content").removeClass();
            $(".container-fluid.shared").removeClass();
            @* $(".bods").removeClass(); *@
        }
    });
</script>

<style>
    .navbar.shared{
        display: none;
    }

    .bods
    {
        color: white;
        background-color: white;
    }

    .btn-black {
    color: #000;
    background-color: maroon; /* Add this line to set the background color */
    border-color: gold; /* Add this line to set the border color */
    }

    @* body
    {
        color: black;
        background-color: black;
    } *@

    .nav-item{
        @* background-color: rgb(83, 79, 79); *@
    }

    body {
        margin: 40px; /* You can adjust the value as per your design preferences */
    }

    .offcanvas-footer
    {
        padding-bottom: 70px;
    }
</style>


<script>

    var instructorTeachingLoad = {}; // this will hold all of the teaching loads of the instructor

    var exportTeachingLoad = [];

    $(document).ready(function(){

        var Subjects = {};
        var Rooms = {};
        var Sections = {};
        var Timeslots = {};
        var AcadYears = {};

        var acadVal = 0;
        var semVal = "";

        //this to display in the select as only once.
        var displaySelect = false;

        //console.log(JSON.parse(sessionStorage.getItem('userauth')));
        var storedUserAuth = sessionStorage.getItem('userauth');
        var userAuth = JSON.parse(storedUserAuth);

        //console.log(userAuth.userType);

        if(userAuth === null)
        {
            window.location.href = "/Authorization/SigninInstructor";
        }
        else if(userAuth.userType !== 'instructor')
        {
            if(userAuth.userType === 'admin')
            {
                window.location.href = "/Home/Index";
            }
            else if(userAuth.userType === 'student')
            {
                window.location.href = "/PageStudent/PageStudentIndex";
            }
        }

        //loadList();
        var selectedInstructor;

        loadInstructorDetail();
        loadInstructorScheduleData();
        populateDepartment();
        populateAcademicYear();

        function loadList()
        {
            $.ajax("../api/adminapi/getSubjects").done(function(result){
                Subjects = result;
                //console.log(result);
                //populateTable();
                //To avoid unexplainable bugs, we called populateTable here. After calling this from the api
                $.ajax("../api/adminapi/getSections").done(function(result){
                    Sections = result;
                    //console.log(result);
                    //populateTable();

                    $.ajax("../api/adminapi/getRooms").done(function(result){
                        Rooms = result;
                        //console.log(result);
                        //populateTable();

                        $.ajax("../api/adminapi/getTimeSlots").done(function(result){
                            Timeslots = result;
                            //console.log(result);
                            //populateTable();
                            $.ajax("../api/adminapi/getAcademicYear").done(function(result){
                                AcadYears = result;
                               // console.log(result);
                                populateTable();
                            });
                        });
                    });
                });
            });
        }

        function loadInstructorDetail()
        {
            //LOAD THE INSTRUCTOR DETAILS 
            $.ajax({
            url: "../api/pageinstructorapi/loadUserDetail",
            type: "POST",
            data:
            {
                instructorId : userAuth.id,
            },
            }).done(function(result){
                
                if(result != null)
                {
                    selectedInstructor = result;
                    //console.log(result.instructorFname);
                    $('.instructorName').text(result.instructorFname + " " + result.instructorLname);
                }
            })
        }

        function loadInstructorScheduleData()
        {
            //LOAD THE INSTRUCTOR'S TEACHING LOAD
            $.ajax({
            url: "../api/pageinstructorapi/loadInstructorScheduleData",
            type: "POST",
            data:
            {
                instructorId : userAuth.id,
            },
            }).done(function(result){
                
                if(result.length > 0)
                {
                    instructorTeachingLoad = result;
                    //console.log(instructorTeachingLoad);
                    @* selectedInstructor = result;
                    //console.log(result.instructorFname);
                    $('.instructorName').text(result.instructorFname + " " + result.instructorLname); *@
                }
                else
                {
                    //console.log("empty");
                }
                loadList();
                //populateTable();
            })
        }

        //to populate the department option 
        function populateDepartment()
        {
            $.ajax("../api/adminapi/getDepartment")
            .done(function(result){
            //console.log(result);
            var template = document.querySelector("template#departmentOptionTemplate");
            var parent = document.querySelectorAll("#departmentSelect");
            
            for(i = 0; i < parent.length; i++){
            result.forEach(function (item){
                var cloned = template.content.cloneNode(true);
                cloned.querySelector("option").value = item.departmentId;
                cloned.querySelector("option").innerText= item.departmentName;

                parent[i].prepend(cloned);
            });
            }

            //to deselect a selected option
            $("select").val([]);
            });
        }

        function populateAcademicYear()
        {
            $.ajax("../api/adminapi/getAcademicYear")
            .done(function(result){
            var template = document.querySelector("template#academicYearTemplate");
            var parent = document.querySelectorAll("#acadYearSelect");
            
            for(i = 0; i < parent.length; i++){
            result.forEach(function (item){
                var cloned = template.content.cloneNode(true);
                cloned.querySelector("option").value = item.acadYearId;
                cloned.querySelector("option").innerText = item.acadYearName;

                parent[i].prepend(cloned);
            });
            }

            //to deselect a selected option
            $("select").val([]);
            });
        }


        $(".btnUpdate").click((e) => {
            $("#modalInstructorUpdate").modal("toggle");

            oFormObject = document.forms["updateInstructorForm"];
            initForm(oFormObject, selectedInstructor);
        });

        //to populate the selected element to the form
        function initForm(form, data){
            Object.getOwnPropertyNames(data).forEach(function(item){
            var currentElem = form.elements[item.charAt(0).toUpperCase() + item.slice(1)];
            //console.log(currentElem);
            //console.log(currentElem);

            if( currentElem == null ){return;}

            if(currentElem.tagName == "SELECT"){
                var selectChildren = Array.from(currentElem.children);
                var matchedOpt = selectChildren.find(opt => opt.value == selectedInstructor.departmentId);
            if(matchedOpt){
                matchedOpt.selected = true;
            }
            }else{
                form.elements[item.charAt(0).toUpperCase() + item.slice(1)].setAttribute("value",data[item]); 
            }
            });
        }

        //after clicking update
        $("#updateInstructor").click(function(){
            alertSaveChanges();
        });

        function proceedUpdate()
        {
            var arrData = {};

            //count the number of elements inside  the form
            var formelements = $("#updateInstructorForm .form-group");

            //getting the data from the form
            var formInputs = $("#updateInstructorForm").serializeArray();
            formInputs.forEach(function(item){
                arrData[item.name] = item.value;
            });

            arrData.instructorId = selectedInstructor.instructorId;

            let emptyEl = new Boolean(false);

            var dropdown = $("#departmentSelect");

            // Get the selected value
            var selectedValue = dropdown.val();
            if(selectedValue !== null)
            {
                emptyEl = Boolean(false);
            }

            var formInput1 = $(".inputFName").val();
            var formInput2 = $(".inputLName").val();
            var formInput3 = $(".inputEmailAdd").val();
            var formInput4 = $(".inputSecretCode").val();

            //console.log(formInput1);
            //console.log(formInput2);
            //console.log(formInput3);
            //console.log(formInput4);

            //alternative of bool
            if(formInput1 === '' || formInput2 === '' || formInput3 === '' || formInput4 === '')
            {
                //if the firstname or lastname are empty then return true or 0
                emptyEl = Boolean(true);
            }
            else{
                //if the firstname and lastname are not empty then return false or 1
                emptyEl = Boolean(false);
            }

            //if all elements are not empty
            if(formInputs.length === formelements.length && emptyEl ===  Boolean(false))
            {
                //Call API to add Instructor
                $.ajax({
                    url: "../api/adminapi/checkEmailInstructor",
                    type: "POST",
                    data:
                    {
                        i : arrData,
                    },
                })
                .done(function(result){
                    if(result === undefined)
                        result = null;

                    if(result.length <= 0 || result === null)
                    {
                        //Call API to add Instructor
                        $.ajax({
                            url: "../api/adminapi/updateInstructor",
                            type: "POST",
                            data:
                            {
                                i : arrData,
                            },
                        })
                        .done(function(){
                            $("#updateInstructorForm")[0].reset();
                            $("#modalInstructorUpdate").modal("toggle");
                            alertSuccess();
                            loadInstructorDetail();
                        });
                    }
                    else
                    {
                        alertError("Email is already in use.")
                    }
                });
            }
            else   
            {
                alertError("Input the necessary elements!");
            }
        }

        $(".btnChangePass").click((e) => {
            $("#modalChangePass").modal("toggle");
        });

        //after clicking change password
        $("#passChange").click(function(){

            var currentPass = $("#inputCurrentPass").val();
            var newPass = $("#inputNewPass").val();
            var confirmPass = $("#inputConfirmPass").val();

            if(currentPass == "" || newPass == "" || confirmPass == "")
            {
                alertError("Complete the field first!");
            }
            else if(newPass !== confirmPass)
            {
                alertError("Password does not match!");
            }
            else
            {
                alertConfirmChange();
            }
        });

        function proceedChangePass()
        {

            var currentPass = $("#inputCurrentPass").val();
            var newPass = $("#inputNewPass").val();
            var confirmPass = $("#inputConfirmPass").val();

            $.ajax({
            url: "../api/authorizationapi/changeUserPass",
            type: "POST",
            data:
            {
                auth : userAuth,
                newP : newPass,
                currentP : currentPass,
            },
            })
            .done(function(result){
                if(result == "Invalid")
                {
                    alertError("Invalid password.");
                }
                else if(result == "Confirm")
                {
                    $("#passChangeForm")[0].reset();
                    $("#modalChangePass").modal("toggle");
                    alertSuccess();
                    loadInstructorDetail();
                }
            });
        }


        $("#btnSignout").click((e) =>{
            confirmLogout();
        });
        

        function proceedLogout()
        {
            sessionStorage.clear();
            window.location.href = "/Authorization/SigninInstructor";
        }


        // Function to populate the table
        function populateTable() {

            exportTeachingLoad.length = 0;

            if(instructorTeachingLoad.length > 0)
            {
                var defaultValue = "Undefined";

                //Convert the list into a schedule data
                var scheduleConvert = [];

                var SubjectList = Subjects;

                var holderInstructorTeachingLoad = instructorTeachingLoad;

                //Sorting order
                //Get the latest value of the academic year and semester
                holderInstructorTeachingLoad.sort(function (a, b) {
                    // Compare acadYearId first
                    if (a.acadYearId !== b.acadYearId) {
                        return a.acadYearId - b.acadYearId;
                    }

                    // If acadYearId is the same, compare semester
                    if (a.semester < b.semester) {
                        return -1;
                    } else if (a.semester > b.semester) {
                        return 1;
                    }

                    // If acadYearId and semester are the same, maintain the current order
                    return 0;
                });

                //if the display is empty
                if(displaySelect == false)
                {
                    if(holderInstructorTeachingLoad.length > 0)
                    {
                        var lastValue = holderInstructorTeachingLoad[holderInstructorTeachingLoad.length - 1];
                        //$("#acadYearSelect").val(lastValue.acadYearId).change();
                        $("#acadYearSelect").val(lastValue.acadYearId).prop('selected', true);
                        $("#semesterSelect").val(lastValue.semester).prop('selected', true);
                        //$("#semesterSelect").val(lastValue.semester).change();

                        // Now, 'lastValue' contains the last element of the array
                        //console.log('Last Value:', lastValue);

                        displaySelect = true;

                        //To filter only the value that matches with the select options 
                        holderInstructorTeachingLoad = instructorTeachingLoad.filter(function (item) {
                            return item.acadYearId == lastValue.acadYearId && item.semester === lastValue.semester;
                        });
                        
                        //loadList();
                    }
                }


                if(acadVal !== 0 && semVal !== "")
                {
                    //To refresh the value inside the holder instructor teaching load
                    holderInstructorTeachingLoad = instructorTeachingLoad;
                }
        
                //console.log(holderInstructorTeachingLoad);

                //Sort by academic year and semester
                if(acadVal !== 0 && semVal !== "")
                {
                    //console.log("acadVal : " + acadVal);
                    //console.log("Instructor Teaching Load" + holderInstructorTeachingLoad.length);
                    holderInstructorTeachingLoad = instructorTeachingLoad.filter(function (item) {
                        return item.acadYearId == acadVal && item.semester === semVal;
                    });

                    @* console.log("hello");
                    console.log(holderInstructorTeachingLoad); *@
                }

                if(holderInstructorTeachingLoad.length > 0)
                {
                    holderInstructorTeachingLoad.forEach(function (teachingLoad) {
                        //This is to convert the data of instructor teaching load to a displayable value

                        if(Subjects.length > 0)
                        {
                            var subjectUnitz = Subjects.find(sub => sub.subjectId == teachingLoad.subjectId) ?? defaultValue;
                        }

                        if(Timeslots.length > 0)
                        {
                            var timeVal = Timeslots.find(t => t.timeId == teachingLoad.timeId) ?? defaultValue;
                            //console.log(timeVal);
                        }

                        var convertedData = {};

                        convertedData = {
                            section: teachingLoad.sectionId,
                            subject: teachingLoad.subjectId,
                            unit: subjectUnitz.subjectUnit,
                            day: teachingLoad.day,
                            time: teachingLoad.timeId,
                            room: teachingLoad.roomId,
                        };
                        scheduleConvert.push(convertedData);
                    });

                //console.log(scheduleConvert);
                }


                //var testVal = 1;
                //console.log(instructorTeachingLoad);
                if(holderInstructorTeachingLoad.length > 0)
                {
                    // Get the tbody element where you want to append rows
                    var tbody = document.getElementById("scheduleBody");

                    // Group data by Section, Subject, and Room
                    var groupedData = {};
                    scheduleConvert.forEach(function (data) {
                    var key = data.section + '-' + data.subject + '-' + data.room;
                    if (!groupedData[key]) {
                        groupedData[key] = data;
                        groupedData[key].daySet = new Set();
                        groupedData[key].timeSet = new Set();
                    } else {
                        // Check if the day value already exists before pushing
                        @* if (!groupedData[key].daySet.has(data.day)) {
                            groupedData[key].day += ' , ' + data.day;
                            groupedData[key].daySet.add(data.day);
                        } *@


                        var uniqueDayRoomSchedules = scheduleConvert
                        .filter(rs =>
                            rs.section === data.section &&
                            rs.subject === data.subject &&
                            rs.room === data.room
                        )
                        .map(rs => rs.day)
                        .filter((value, index, self) => self.indexOf(value) === index);

                        var dayConvert = "";
                        var dayCombined = "";

                        uniqueDayRoomSchedules.forEach(item => {
                            switch(item)
                            {
                                case 1:
                                    dayConvert = "M";
                                    break;
                                case 2:
                                    dayConvert = "T";
                                    break;
                                case 3:
                                    dayConvert = "W";
                                    break;
                                case 4:
                                    dayConvert = "TH";
                                    break;
                                case 5:
                                    dayConvert = "F";
                                    break;
                                case 6:
                                    dayConvert = "S";
                                    break;
                                case 7:
                                    dayConvert = "SUN";
                                    break;
                            }
                            dayCombined += dayConvert;
                        });

                        //Make the data of time, readable
                        var toPrintTime = scheduleConvert.filter(rs =>
                            rs.section === data.section &&
                            rs.subject === data.subject &&
                            rs.room === data.room
                        );

                        //printing the time
                        var timeCount = toPrintTime.length;
                        var timeCounter = 0;

                        var startTime = "";
                        var endTime = "";

                        toPrintTime.forEach(item => {

                            timeCounter++;
                            if(Timeslots.length > 0)
                            {

                                var resTime = Timeslots.find(tm => tm.timeId == item.time) ?? defaultValue;
                                //console.log("I was called");

                                if(timeCounter == 1)
                                {
                                    if (resTime && typeof resTime.endTime === 'string') 
                                    {
                                        //Convert 24 hour format to 12 hour format
                                        // Parse the input time in HH:mm format
                                        var [hours, minutes] = resTime.startTime.split(':');
                                        // Convert to 12-hour format
                                        var period = hours >= 12 ? 'PM' : 'AM';
                                        hours = hours % 12 || 12; // If hours is 0, set it to 12 for 12-hour format

                                        // Format the result as HH:mm AM/PM
                                        var time12 = hours + ':' + minutes + ' ' + period;

                                        //STORE IT
                                        startTime = time12;
                                    }
                                    else
                                    {
                                        //console.error("Invalid or undefined resTime.startTime");
                                    }

                                }
                                else if(timeCounter == timeCount)
                                {
                                    // Assuming resTime.endTime is expected to be a string in HH:mm format
                                    if (resTime && typeof resTime.endTime === 'string') {
                                        // Parse the input time in HH:mm format
                                        var [hours, minutes] = resTime.endTime.split(':');

                                        // Convert to 12-hour format
                                        var period = hours >= 12 ? 'PM' : 'AM';
                                        hours = hours % 12 || 12; // If hours is 0, set it to 12 for 12-hour format

                                        // Format the result as HH:mm AM/PM
                                        var time12 = hours + ':' + minutes + ' ' + period;

                                        // STORE IT
                                        endTime = time12;
                                    } else {
                                        //console.error("Invalid or undefined resTime.endTime");
                                    }
                                }
                            }   
                        });

                        //combine the time
                        var timeRange = startTime + " - " + endTime;
                        //console.log(timeRange);
                        groupedData[key].timeSet.add(timeRange);
                        groupedData[key].daySet.add(dayCombined);
                        //console.log(dayCombined);


                        @* if (!groupedData[key].timeSet.has(data.time)) {
                            //groupedData[key].time += ' - ' + data.time;
                            
                        } *@
                        //console.log(groupedData[key].timeSet);
                    }
                });

                    // Get the tbody element where you want to append rows
                    var tbody = document.getElementById("scheduleBody");
                    tbody.innerHTML = "";

                    //Clear the "no teaching load data";
                    var newDiv = document.getElementById("mynewDiv");
                    newDiv.innerHTML = "";

                    // Iterate over groupedData and append rows to the table
                    Object.values(groupedData).forEach(function (data) {
                        var row = document.createElement("tr");

                        if(Sections.length > 0)
                        {
                            var sectionVal = Sections.find(sub => sub.sectionId == data.section) ?? defaultValue;
                        }
                        
                        //Convert id's into readable data
                        if(Subjects.length > 0)
                        {
                            var subjectVal = Subjects.find(sub => sub.subjectId == data.subject) ?? defaultValue;
                        }

                        if(Rooms.length > 0)
                        {
                            var roomVal = Rooms.find(sub => sub.roomId == data.room) ?? defaultValue;
                        }

                        //console.log(data.subject);
                        //console.log(subjectVal);
                        // Create and append cells with data
                        var firstValue = [...data.timeSet][0];
                        var firstValueDay = [...data.daySet][0];
                        //console.log(firstValue);
                        row.appendChild(createCell(sectionVal.sectionName));
                        row.appendChild(createCell(subjectVal.subjectName));
                        row.appendChild(createCell(data.unit));
                        row.appendChild(createCell(firstValueDay)); // Convert Set to array
                        row.appendChild(createCell(firstValue));
                        row.appendChild(createCell(roomVal.roomName));

                        // Create an array with the values
                        var rowData = {
                            SECTION : sectionVal.sectionName,
                            SUBJECT : subjectVal.subjectName,
                            UNIT : data.unit,
                            DAY : firstValueDay,
                            TIME : firstValue,
                            ROOM : roomVal.roomName
                        };

                        exportTeachingLoad.push(rowData);

                        // Create a cell for the button and append it to the row
                        @* const btnCell = createCell('');
                        btnCell.innerHTML = btnInstructor(sectionVal.sectionId, subjectVal.subjectId);
                        row.appendChild(btnCell); *@

                        // Append the row to the tbody
                        tbody.appendChild(row);
                    });
                }
                else
                {
                    //Clear the data first
                    var tbody = document.getElementById("scheduleBody");
                    tbody.innerHTML = "";

                    // Create a new div element
                    var newDiv = document.getElementById("mynewDiv");
                    //newDiv.id = 'myNewDiv';
                    newDiv.innerHTML = "";
                    newDiv.innerHTML = '<br><center>No teaching load data</center>';

                    // Append the new div to the content container
                    document.getElementById('contentContainer').appendChild(newDiv);
                }
            }
            else
            {
                //Clear the data first
                var tbody = document.getElementById("scheduleBody");
                tbody.innerHTML = "";

                // Create a new div element
                var newDiv = document.getElementById("mynewDiv");
                //newDiv.id = 'myNewDiv';
                newDiv.innerHTML = "";
                newDiv.innerHTML = '<br><center>No teaching load data</center>';

                // Append the new div to the content container
                document.getElementById('contentContainer').appendChild(newDiv);
            }
            
            console.log(exportTeachingLoad);
        }

        // Call the function to initially populate the table
       //populateTable();
       // Function to create a table cell
        function createCell(value) {
            var cell = document.createElement("td");
            cell.textContent = value;
            return cell;
        }


        //to render buttons in action index
        @* function btnInstructor(sectionID, subjectID)
        {
            return "<center><a class='btn btn-success insSched' title='Request swap' data-sectionID=" + sectionID + " data-subjectID=" + subjectID +"><i class='fa-solid fa-rotate'></i></a></center>"
        } *@

        //const XLSX = require('xlsx');

        //EXPORTING PURPOSES 
        const headerData = {
            "SECTION" : "SECTION",
            "DESCRIPTIVE TITLE": "DESCRIPTIVE TITLE",
            "UNITS" : "UNITS",
            "DAY": "DAY",
            "TIME": "TIME",
            "ROOM": "ROOM",
        };


        // Academic Year dropdown change event
        $('#acadYearSelect').change(function () {
            var selectedAcad = $(this).val();
            var selectedSem = $('#semesterSelect').val();

            if(selectedAcad !== null && selectedSem !== null)
            {
                acadVal = selectedAcad;
                semVal = selectedSem;
                loadList();
                //checkExportBtn();
                //console.log('Selected Academic Year:', acadVal + " " + semVal);
            }
        });

        // Semester dropdown change event
        $('#semesterSelect').change(function () {
            var selectedSem = $(this).val();
            var selectedAcad = $('#acadYearSelect').val();

            if(selectedAcad !== null && selectedSem !== null)
            {
                acadVal = selectedAcad;
                semVal = selectedSem;
                loadList();
                //checkExportBtn();
                //console.log('Selected Academic Year:', acadVal + " " + semVal);
            }
        });

        @* function checkExportBtn()
        {
            if(acadVal === null || acadVal === undefined || semVal === null || semVal === null)
            {
                $('#exportBtn').disabled = true;
            }
        } *@

        //#exportBtn
        $('#exportBtn').click(function () {
            var selectedSem = $('#semesterSelect').val();
            var selectedAcad = $('#acadYearSelect').val();

            var convertAcad = AcadYears.find(ay => ay.acadYearId == selectedAcad);

            if(selectedAcad !== null && selectedSem !== null)
            {
                if(exportTeachingLoad.length === 0)
                {
                    alertError("Cannot export with an empty data");
                }
                else
                {
                    
                    @* // Create a worksheet
                    const ws = XLSX.utils.json_to_sheet(exportTeachingLoad);

                    // Auto size feature
                    ws['!cols'] = fitToColumn(exportTeachingLoad);
                    function fitToColumn(data) {
                        // Get maximum character of each column
                        return Object.keys(data[0]).map((key) => ({
                            wch: Math.max(...data.map((row) => row[key] ? row[key].toString().length : 0))
                        }));
                    }

                    // Create a workbook
                    const wb = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(wb, ws, "Teaching Load");

                    // Save the workbook to a file
                    XLSX.writeFile(wb, "teaching_load.xlsx"); *@

                    /* create workbook & add worksheet */
                    var wb = XLSX.utils.book_new();
                    var wsData = [];
                    wsData.push(["Academic Year","Semester", "", "", "", ""]);
                    wsData.push([convertAcad.acadYearName,selectedSem, "", "", "", ""]);
                    wsData.push(["","", "", "", "", ""]);
                    wsData.push(Object.keys(headerData));

                    exportTeachingLoad.forEach(item => {
                        wsData.push([item.SECTION, item.SUBJECT, item.UNIT, item.DAY, item.TIME, item.ROOM]);
                    });

                    var ws = XLSX.utils.aoa_to_sheet(wsData);
                    ws['!cols'] = fitToColumn(wsData);
                    function fitToColumn(wsData) {
                        // get maximum character of each column
                        return wsData[0].map((a, i) => ({ wch: Math.max(...wsData.map(a2 => a2[i] ? a2[i].toString().length : 0)) }));
                    }

                    /* add worksheet to workbook */
                    XLSX.utils.book_append_sheet(wb, ws, "Teaching Load".toUpperCase());

                    //$('.instructorName').text(result.instructorFname + " " + result.instructorLname);
                    XLSX.writeFile(wb, selectedInstructor.instructorFname + " " + selectedInstructor.instructorLname + " | " + convertAcad.acadYearName + " - " + selectedSem + ".xlsx");
                }
            }
            else
            {
                alertError("Must select the academic and semester first!");
            }
        });


        //display update confirmation
        function confirmLogout()
        {
            Swal.fire({
                title: 'Are you sure you want to logout?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                confirmButtonColor: '#3085d6'
            }).then((result) => {
                if(result.isConfirmed){
                    proceedLogout();
                }
            })
        }

        //display update confirmation
        function alertSaveChanges()
        {
            Swal.fire({
                title: 'Do you want to save the changes?',
                showCancelButton: true,
                confirmButtonText: 'Save',
            }).then((result) => {
                if(result.isConfirmed){
                    proceedUpdate();
                }
            })
        }

        //display confirm change password
        function alertConfirmChange()
        {
            Swal.fire({
                title: 'Do you really want to change your password?',
                showCancelButton: true,
                confirmButtonText: 'Save',
            }).then((result) => {
                if(result.isConfirmed){
                    proceedChangePass();
                }
            })
        }

        //display success action
        function alertSuccess()
        {
            Swal.fire({
                icon: 'success',
                title: 'Your work has been saved', 
                showConfirmButton: false,
                timer: 1500
            })
        }

        function alertError(message)
        {
            Swal.fire({
                icon: 'error',
                title: 'Error occured',
                text: message,
            })
        }

        //End of document
    });
</script>