<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
</head>
<body>
	
			@* @Html.Partial("Authorization/HomeNavBar") *@
			@Html.Partial("HomeNavBar")
			<div class="video-container">
			<video autoplay muted loop id="background-video">
			<source src="~/video/crmcvid.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		<div class="overlay"></div>
		<div class="content">

			<h2 class="txt-admin">Retrieve password</h2>
			<div class="container h-10" style="margin-top: 150px;">
				<div class="d-flex justify-content-center h-100">
					<div class="user_card">
						<div class="d-flex justify-content-center">
							<div class="brand_logo_container">
								<img src="https://scontent.fceb8-1.fna.fbcdn.net/v/t1.15752-9/398539399_769348385237475_3487999140637166116_n.png?_nc_cat=102&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeFgBy8ofA9AyZkOuJLukTDPVS5wDdlA5_NVLnAN2UDn8yweMgA5lo5MtHmQzMnjQrsdLrC542v7BHotDprkNkrr&_nc_ohc=vn8jbdunz9YAX_TWPvJ&_nc_ht=scontent.fceb8-1.fna&oh=03_AdSXKIPzc9bqH8MxoI1z1SKeIlmauAZMutr1DGlApi-LdQ&oe=65A0D45D"
									class="brand_logo" alt="Logo">
							</div>
						</div>
						<div class="d-flex justify-content-center form_container">
							<form id="">
                                <span for="" class="contentFindAccount"></span>
								<div class="input-group mb-3">
									<div class="input-group-append">
										<span class="input-group-text"><i class="fas fa-user"></i></span>
									</div>
									<input type="text" id="emailAddInput" name="" class="form-control input_email"
										value="" placeholder="Email address" required>
								</div>
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
										<span class="input-group-text"><i class="fas fa-key"></i></span>
									</div>
									<input type="text" id="securityAuthenticator" name="" class="form-control input_security"
										value="" placeholder="Secret Code" required>
								</div>
								<div class="d-flex justify-content-center mt-3 login_container">
									<button type="button" name="button" id="findBtn"
										class="btn findBtn">Find Account</button>
								</div>
                                <div class="d-flex justify-content-center mt-3 login_container">
                                <button type="button" name="button" id="resetBtn" class="btn resetBtn">Reset Password</button>
                                </div>
                                <div class="d-flex justify-content-center mt-3 login_container">
									<button type="button" name="button" id="btnCancel"
										class="btn btnCancel">Cancel</button>
								</div>
								@* <div class="d-flex justify-content-center mt-3 login_container">
									<button type="button" name="btnEmail" id="emailBtn"
										class="btn email_btn">Button Email</button>
								</div> *@
							</form>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<script>
	$("#emailBtn").click((e) => {
		//console.log("Hello");
		sendEmail();
	});

    $("#resetBtn").hide(); // set as default hide
    $("#findBtn").show(); // set as default hide

    $("#findBtn").click((e) => {
		$(".contentFindAccount").html("Account found. Proceed?");
        $("#resetBtn").show();
        $("#findBtn").hide();
	});	

    $("#btnCancel").click((e) => {
		//console.log("Hello");
		window.location.href = "/Authorization/SigninStudent";
	});	

	function sendEmail()
	{
		(function(){
			emailjs.init("ZBPFifgMxikTC5Xym"); //Account public key
		})();

		var params = 
		{
			from_name : "CRMC Admin",
			to_name : "ursalneilchris@gmail.com",
			to_username : "Neil Chris Ursal",
			subject : "Reset password",
			replyto : "",
			newPassword : "202000307",
		};

		var serviceID = "service_lfsup19";
		var templateID = "template_diymyp6";

		emailjs.send(serviceID, templateID, params)
		.then( res => {
			alert("Email sent successfully");
		})
		.catch();
	}
</script>

<style>
    .txt-admin {
		text-align: center;
		font-weight: bold;
		font-size: 35px;
	}

	.navbar.shared {
		display: none;
	}

	.bods {
		color: white;
		background-color: white;
	}


	body {
		font-family: 'Poppins', sans-serif;

	}
</style>

<style>
	.video-container {
    position: relative;
    height: 90vh;
    overflow: hidden;
	
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
	background: linear-gradient(to right, rgb(0 0 0 / 0.8), rgb(0 0 0 / 0)), url('../../video/crmcvid.mp4');
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: #fff; /* Adjust text color */
}
</style>

<style>
    	/* Coded with love by Mutiullah Samim */
		body,
		{
			margin: 0;
			padding: 0;
			height: 100%;
			background: #60a3bc !important;
		}
		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			@* background: #f3e812; *@
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(235,236,31,0.7763480392156863) 15%, #9A031E 100%);
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #f3f5f6;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 50px;
		}
		.findBtn, .resetBtn {
			width: 100%;
			background: #c0392b !important;
			color: white !important;
		}
		.findBtn:focus, .resetBtn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}
</style>

<script>

    $(() => {
        
        var storedUserAuth = sessionStorage.getItem('userauth');
        var userAuth = JSON.parse(storedUserAuth);

		if(userAuth === null)
        {
            //window.location.href = "/Authorization/SigninStudent";
        }
        else if(userAuth.userType !== 'student')
        {
            if(userAuth.userType === 'admin')
            {
                window.location.href = "/Home/Index";
            }
            else if(userAuth.userType === 'instructor')
            {
                window.location.href = "/PageInstructor/PageInstructorIndex";
            }
        }

        margin();

        function margin(){
            $(".page-content").removeClass();
            $(".container-fluid.shared").removeClass();
			$(".page-fluid").removeClass();
            @* $(".bods").removeClass(); *@
        }

        function alertError(message)
        {
            Swal.fire({
                icon: 'error',
                title: 'Error occured',
                text: message,
            })
        }

		//display success action
		function alertSuccess()
		{
			Swal.fire({
				icon: 'success',
				title: 'Welcome', 
				showConfirmButton: false,
				timer: 1000,
				willClose: () => {
					// Add your action here
					//console.log('Timer expired, performing action...');
					// For example, redirect to another page
					window.location.href = "/PageStudent/PageStudentIndex";
				}
			})
		}

    });
</script>