@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Automated Class Scheduling System</b></h1>
    <p>A capstone project of the Bachelor of Science in Information Technology from the College of Computer Studies.</p>
</div>
