@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdn.sheetjs.com/xlsx-0.20.0/package/dist/xlsx.full.min.js"></script>
<div class="text-center text-dark">
    <h1 class="display-4"><b>Automated Class Scheduling System</b></h1>
    <p>A capstone project of the Bachelor of Science in Information Technology from the College of Computer Studies.</p>
    @* <button class="btn btn-primary" id="testGenerate">TEST GENERATE SCHEDULE</button>
    <button id="sheetjsexport"><b>Export as XLSX</b></button> *@
</div>

<table id="TableToExport">

@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
</head>
<body>
    <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Simple Sidebar</h1>
                            <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                        </div>
                    </div>
                </div>
            </div>
    <!-- /#page-content-wrapper -->
</body>
</html> *@

<script>

    var Departments = {};
    var Rooms = {};
    var Courses = {};
    var Instructors = {};
    var Unavailableperiods = {};
    var Assignsubjects = {};
    var Subjects = {};
    var Subjecthandleds = {};
    var Sections = {};
    var Regissections = {};
    var Timeslots = {};

    var GeneratedSched = {};

    $(document).ready(function(){

        var storedUserAuth = sessionStorage.getItem('userauth');
        var userAuth = JSON.parse(storedUserAuth);

        if(userAuth === null)
        {
            window.location.href = "/Authorization/Signin";
        }
        else if(userAuth.userType !== 'admin')
        {
            if(userAuth.userType === 'instructor')
            {
                window.location.href = "/PageInstructor/PageInstructorIndex";
            }
            else if(userAuth.userType === 'student')
            {
                window.location.href = "/PageStudent/PageStudentIndex";
            }
        }

        //getData();
        function getData()
        {
            $.ajax("../api/adminapi/getDepartment").done(function(result){
                Departments = result;
                console.log(result);
            });

            $.ajax("../api/adminapi/getRooms").done(function(result){
                Rooms = result;
                console.log(result);
            });

            $.ajax("../api/adminapi/getCourse").done(function(result){
                Courses = result;
                console.log(result);
            });

            $.ajax("../api/adminapi/getInstructors").done(function(result){
                Instructors = result;
                console.log(result);
            });

            $.ajax("../api/adminapi/getUnavailableperiods").done(function(result){
                Unavailableperiods = result;
                console.log(result);
            });

            $.ajax("../api/adminapi/getAssignsubjects").done(function(result){
                Assignsubjects = result;
                console.log(result);
            });

            $.ajax("../api/adminapi/getSubjects").done(function(result){
                Subjects = result;
                console.log(result);
            });

            $.ajax("../api/adminapi/getSubjecthandleds").done(function(result){
                Subjecthandleds = result;
                console.log(result);
            });

            $.ajax("../api/adminapi/getSections").done(function(result){
                Sections = result;
                console.log(result);
            });

            $.ajax("../api/adminapi/getRegissections").done(function(result){
                Regissections = result;
                console.log(result);
            });

            $.ajax("../api/adminapi/getTimeSlots").done(function(result){
                Timeslots = result;
                console.log(result);
            });
        }

        $('#testGenerate').click(function(){
            $.ajax("../api/generatescheduleapi/startGenerate").done(function(result){
                GeneratedSched = result;
                console.log(result);
            });
        });

        // Your schedule data for First Year A
        const firstYearASchedule = [
            {
                "Subject No.": "CC 100",
                "Descriptive Title": "Introduction to Computing",
                "Units": 5,
                "Offer Code": "",
                "Days": "MW",
                "Time": "2:30-5:00 PM",
                "Room": "CL 4",
                "Instructor": "Reso, Marjorie"
            },
            {
                "Subject No.": "CC 101",
                "Descriptive Title": "Computer Programming 1",
                "Units": 5,
                "Offer Code": "",
                "Days": "MW",
                "Time": "9:00-11:30 AM",
                "Room": "CL 1",
                "Instructor": "Gelig, Jonel"
            },
            // Add more schedule entries for First Year A as needed
        ];

        // Separator row to add indentation
        const separatorRow = {
            "Subject No.": "",
            "Descriptive Title": "",
            "Units": "",
            "Offer Code": "",
            "Days": "",
            "Time": "",
            "Room": "",
            "Instructor": ""
        };

        const headerRowB = {
            "Subject No.": "Subject No.",
            "Descriptive Title": "Descriptive Title",
            "Units": "Units",
            "Offer Code": "Offer Code",
            "Days": "Days",
            "Time": "Time",
            "Room": "Room",
            "Instructor": "Instructor"
        };

        // Your schedule data for First Year B
        const firstYearBSchedule = [
            separatorRow,
            separatorRow,
            headerRowB,
            {
                "Subject No.": "CC 100",
                "Descriptive Title": "Introduction to Computing",
                "Units": 5,
                "Offer Code": "",
                "Days": "MW",
                "Time": "3:30-6:00 PM",
                "Room": "CL 1",
                "Instructor": "Raganas, Hilarion"
            },
            {
                "Subject No.": "CC 101",
                "Descriptive Title": "Computer Programming 1",
                "Units": 5,
                "Offer Code": "",
                "Days": "MW",
                "Time": "6:00-8:30 PM",
                "Room": "CL 1",
                "Instructor": "Raganas, Hilarion"
            },
            // Add more schedule entries for First Year B as needed
        ];

        

        const combinedSchedule = firstYearASchedule.concat(firstYearBSchedule);

        //for header
        const headerData = {
            "COURSE NO." : "COURSE NO.",
            "DESCRIPTIVE TITLE": "DESCRIPTIVE TITLE",
            "UNITS" : "UNITS",
            "DAY": "DAY",
            "TIME": "TIME",
            "ROOM": "ROOM",
            "INSTRUCTOR": "INSTRUCTOR",
        };


    }); // end of document.ready
</script>
