@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Automated Class Scheduling System</h1>
    <p>A capstone project of Bachelor of Science in Information Technology from College of Computer Studies</p>
</div>
