<template id="departmentOptionTemplate">
  <option value=""></option>
</template>

<div class="modal fade" id="modalCourseCreate" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-warning text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Assign Course</h5>
        <button type="button" id="modalCourseCreateClose" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body courseCreate d-flex justify-content-center">
       <div>
            <div class="cardInfo" style="width: 25rem;">
            <h4><div class="info-title" id="info-title">
            </div></h4>
            <strong><div class="info-Stocks"></div></strong>
            <hr/>
            <form id="createCourseForm">
            <div class="form-group">
                <label name="" class="control-label">Course Name</label>
                <input type="text" name="CourseName" id="inputCourseName" class="form-control" placeholder="Enter course name" required/>
            </div>
            <div class="form-group">
                <label name="" class="control-label">Department</label>
                <select id="departmentSelect" name="DepartmentId" class="form-select"></select>
            </div>
            </form>
            <hr/>
      </div>
       </div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>!-->
        <button type="button" class="btn btn-primary" id="createCourse">Confirm</button>
      </div>
    </div>
  </div>
</div>