<div class="modal fade" id="modalTimeCreate" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-warning text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Timeslot</h5>
        <button type="button" id="modalTimeCreateClose" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body timeCreate d-flex justify-content-center">
       <div>
            <div class="cardInfo" style="width: 25rem;">
            <h4><div class="info-title" id="info-title">
            </div></h4>
            <strong><div class="info-Stocks"></div></strong>
            <hr/>
            <form id="createTimeForm">
            <div class="form-group">
                <label name="" class="control-label">Start Time</label>
                <input type="time" name="StartTime" id="inputStartTime" class="form-control" placeholder="Time code" required/>
            </div>
            <div class="form-group">
                <label name="" class="control-label">End Time</label>
                <input type="time" name="EndTime" id="inputEndTime" class="form-control" placeholder="Time name" required/>
            </div>
            </form>
            <hr/>
      </div>
       </div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>!-->
        <button type="button" class="btn btn-primary" id="createTime">Confirm</button>
      </div>
    </div>
  </div>
</div>