<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/tableCss/tableFull.css" asp-append-version="true"/>
</head>
<body>
    <div class="container bg-dark text-light rounded">
    <table id="timeData" class="display table table-bordered table-hover text-light" width="100%">
            <thead>
                <tr>
                    <th>Time ID</th>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Duration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
    </table>
    </div>
</body>
</html>